@import "tailwindcss";

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/Lexend.ttf") format("opentype");
  font-style: normal;
}

.lexend {
  font-family: "Lexend", sans-serif;
}

body {
  font-family: "Lexend", sans-serif;
}
